.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
}

.card {
    position: relative;
    width: 284px;
}

